/* general styles */
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --orange:#FFA567;
}

html {
    font-size: 62.5%;
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 56.25%;
    }
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 50%;
    }
}

body{
    font-size: 1.4rem;
    line-height: 1.4;    
    color: #AEB2B4;
}

/* || utilities START */

.main_btn{
    background-color: var(--orange);
    color: #fff;
    padding: 1.5rem 4rem;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Mulish' ,sans-serif;
    font-weight: bold;
    line-height: 1;
    font-size: 2.2rem;
    margin-right: 5rem;
    box-shadow: 0 5px 15px #f981698a;
    transition: all 200ms ease;
    display: inline-block;
    border: 0;
}

.main_btn:hover,
.main_btn:active,
.main_btn:focus{
    box-shadow: 0 5px 15px #f98169b4;
    transform: translateY(-2px);
    outline: none;
}


/* || utilities END */


/* || Top navigation START */

.navigation{
    display: flex;
    width: 50%;
    margin-top: 3rem;
    margin-left: 10rem;
    z-index: 99;
    font-family: 'Mulish', sans-serif;
    flex-wrap: wrap;
    transition: all 500ms ease;
}

.navigation > *{
    flex-basis: 100% ;
}

.navigation_info {
    display: flex;
    align-items: center;
}

.navigation_logo-container {
    margin-right: 4rem;
    animation-name: test;
    animation-duration: 4s;
}

.navigation_van{
    margin-right: 2rem;
}

.navigation_links-container{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

.navigation_links{
    list-style: none;
}

.navigation_link{
    text-decoration: none;
    color: #ABADAE;
    font-size: 1.8rem;
    font-weight: 600;
    transition: color 200ms ease;
}

.navigation_link:hover,
.navigation_link:active{
    color: #909091;
}

.navigation_link--active{
    color:#00D9CC;
    
}

.navigation_link--active:active,
.navigation_link--active:hover {
    color:#00beb2;
}

.navigationScroll{
    left: 0;
    top: 0;
    margin: 0;
    padding: .5rem 5rem;    
    width: 100% !important;
    align-items: center;
    justify-content: space-between;
}

.navigation_container{
    width: 100%;
    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: 99;
    transition: all 200ms ease;
}

.navigation_container--active{
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.navigationScroll .navigation_links{
    width: 40%;
}

.navigationScroll .navigation_links-container {
    margin: 0;
}

.navigationScroll .navigation_logo-container {
    width: 10rem;
}

.navigationScroll .navigation_logo-container img {
    width: 100%;
}

.navigationScroll > *{
    flex-basis: auto;
}

/* || Top navigation END */
@keyframes example {
    0% {
        opacity: 1;
    }
    50% {
         opacity: 0;
    }

    100% {
        display: none;
    }
}

/* || Header Section START */

.header-section{
    height: 100vh;
    width: 100%;
    background-image:
    linear-gradient(
      100deg, 
      rgba(255,255,255,.9) 0%,
      rgba(255,255,255,.9) 60%,
      rgba(0,0,0,0) 60%
    ),
    url(../images/hero-heading.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-container{
    position: absolute;
    bottom: 15rem;
    left: 10rem;
    width: 45%; 
}

.hero-heading{
    font-family: 'Mulish' ,sans-serif;
    font-weight: 300;
    color: #255A7E;
    font-size: 6rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}

.hero-sub-heading{
    color: #0C3653;
    font-size: 1.4rem;
    font-family: 'Mulish' ,sans-serif;
    line-height: 1.8;
    margin-bottom: 2rem;
}

.hero-btn-container{
    margin-top: 2rem;
}

.download-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2.5rem;
}

.download_app{
    width: 18rem;
    display: inline-block;
    margin-right: 2rem;
}

.download_app img{
    width: 100%;
}

/* || Header Section END */