/* general styles */
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --orange:#FFA567;
}

html {
    font-size: 62.5%;
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 56.25%;
    }
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 50%;
    }
}

body{
    font-size: 1.4rem;
    line-height: 1.4;    
    color: #AEB2B4;
}

/* || utilities START */

.main_btn{
    background-color: var(--orange);
    color: #fff;
    padding: 1.5rem 4rem;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Mulish' ,sans-serif;
    font-weight: bold;
    line-height: 1;
    font-size: 2.2rem;
    margin-right: 5rem;
    box-shadow: 0 5px 15px #f981698a;
    transition: all 200ms ease;
    display: inline-block;
    border: 0;
}

.main_btn:hover,
.main_btn:active,
.main_btn:focus{
    box-shadow: 0 5px 15px #f98169b4;
    transform: translateY(-2px);
    outline: none;
}


/* || utilities END */


/* || Top navigation START */

.navigation{
    display: flex;
    width: 50%;
    margin-top: 3rem;
    margin-left: 10rem;
    z-index: 99;
    font-family: 'Mulish', sans-serif;
    flex-wrap: wrap;
    transition: all 500ms ease;
}

.navigation > *{
    flex-basis: 100% ;
}

.navigation_info {
    display: flex;
    align-items: center;
}

.navigation_logo-container {
    margin-right: 4rem;
    animation-name: test;
    animation-duration: 4s;
}

.navigation_van{
    margin-right: 2rem;
}

.navigation_links-container{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

.navigation_links{
    list-style: none;
}

.navigation_link{
    text-decoration: none;
    color: #ABADAE;
    font-size: 1.8rem;
    font-weight: 600;
    transition: color 200ms ease;
}

.navigation_link:hover,
.navigation_link:active{
    color: #909091;
}

.navigation_link--active{
    color:#00D9CC;
    
}

.navigation_link--active:active,
.navigation_link--active:hover {
    color:#00beb2;
}

.navigationScroll{
    left: 0;
    top: 0;
    margin: 0;
    padding: .5rem 5rem;    
    width: 100% !important;
    align-items: center;
    justify-content: space-between;
}

.navigation_container{
    width: 100%;
    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: 99;
    transition: all 200ms ease;
}

.navigation_container--active{
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.navigationScroll .navigation_links{
    width: 40%;
}

.navigationScroll .navigation_links-container {
    margin: 0;
}

.navigationScroll .navigation_logo-container {
    width: 10rem;
}

.navigationScroll .navigation_logo-container img {
    width: 100%;
}

.navigationScroll > *{
    flex-basis: auto;
}

/* || Top navigation END */
@keyframes example {
    0% {
        opacity: 1;
    }
    50% {
         opacity: 0;
    }

    100% {
        display: none;
    }
}

/* || Header Section START */

.header-section{
    height: 100vh;
    width: 100%;
    background-image:
    linear-gradient(
      100deg, 
      rgba(255,255,255,.9) 0%,
      rgba(255,255,255,.9) 60%,
      rgba(0,0,0,0) 60%
    ),
    url(../images/hero-heading.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-container{
    position: absolute;
    bottom: 15rem;
    left: 10rem;
    width: 45%; 
}

.hero-heading{
    font-family: 'Mulish' ,sans-serif;
    font-weight: 300;
    color: #255A7E;
    font-size: 6rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}

.hero-sub-heading{
    color: #0C3653;
    font-size: 1.4rem;
    font-family: 'Mulish' ,sans-serif;
    line-height: 1.8;
    margin-bottom: 2rem;
}

.hero-btn-container{
    margin-top: 2rem;
}

.download-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2.5rem;
}

.download_app{
    width: 18rem;
    display: inline-block;
    margin-right: 2rem;
}

.download_app img{
    width: 100%;
}

/* || Header Section END */

/* || about us START */
.about_us-container{
    background-image: linear-gradient(100deg,
        rgba(255, 255, 255, .95) 0%,
        rgba(255, 255, 255, .95) 100%),
    url('../images/aboutus-background.png');
    background-position: center;
    background-size: cover;
    
}
.section{
    padding: 5rem 7rem;
}
.about_us-section{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.about_us-image{
    width: 45rem;
    height: 60rem;
    overflow: hidden;
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    background-position: center;
    background-size: cover;
}

#baby-image{
    background-image: url('../images/no-more-cry-1.png');
    box-shadow: 10px 10px 50px rgba(0, 0, 0, .2);
}

.heading-big{
    font-size: 5rem;
    color: #0C3653;
    line-height: 1.2;
    font-family: serif;
    margin-bottom: 2rem;
}
.normal-text{
    color:#8B8E8F;
    font-family: "Mulish" ,sans-serif;
    font-weight: 600;
    word-spacing: 2px;
    margin-bottom: 2rem;
}

.about_us-images{
    display: flex;
    width: 100%;
    height: 100%;
    justify-self: end;
}

.about_us-images-col{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 1rem;
    justify-content: center;
}

#about_us-images-col-1 {
    align-items: flex-end;
}

#about_us-images-col-2{
    align-items: flex-start;
}

.img-food{
    width: 23rem;
    height: 16rem;
    border-radius: 12px;
    background-image: url('../images/food.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
}

.img-child{
    width: 28rem;
    height: 19rem;
    border-radius: 12px;
    background-image: url('../images/child-eating.png');
    background-size: cover;
    background-position: center;
}

.img-egg {
    width: 28rem;
    height: 23rem;
    border-radius: 12px;
    background-image: url('../images/eggs.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
}

.img-milk{
    width: 23rem;
    height: 20rem;
    border-radius: 12px;
    background-image: url('../images/milk.png');
    background-size: cover;
    background-position: center;
}

/* || about us END */


/* || our story */

.our_story{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    padding: 5rem;
    margin: 0 auto;
    border-radius: 15px;
    background-image: url('../images/fruit.png'), url('../images/fruit-1.png');
    background-size: cover;
}

.our_story-heading{
    color: #fff;
    width: 75%;
    margin: 0 auto;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.our_story-text{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
}

.our_story-play{
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    margin: 0 auto;
    cursor: pointer;
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.play-icon{
    height: 0;
    width: 0;
    opacity: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
    display: inline-block;
    transition: all 200ms ease;
    display: none;
}



.our_story-play:hover .play-icon,
.our_story-play:active .play-icon {
    width: 100%;
    display: flex;
    height: 100%;
    opacity: 1;
    animation: see 200ms;
    font-size: 2rem;
}

.play-text {
    text-align: center;
    justify-content: center;
    align-items: center;
    color:#fff;
    display: inline-block;
}


.our_story-play:hover .play-text,
.our_story-play:active .play-text {
display: none;
}


.our_story-play-text{
    color: #fff;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
}

.section_heading{
    text-align: center;
}

.section_subheading{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}


@keyframes close{}
/* || meals */

.meals_container{
    width: 90%;
    margin: 6rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10rem;
    grid-row-gap: 5rem;
}

.meal_item{
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
    transition: all 200ms ease;
    cursor: pointer;
}

.meal_item:hover,
.meal_item:active{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
}

.meal_item-img{
    width: 100%;
    height: 20rem;
    overflow: hidden;
}

.meal_item-img img{
    width: 100%;
}

.meal_item-info{
    padding: 2rem 2rem;
}

.meal_item-heading{
    font-size: 2.5rem;
}

.meal_item-heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.meal-name{
    color:#0C3653;
}

.meal-price{
    color:var(--orange);
}

.meal_item-description{
    font-size: 1.4rem;
    font-family: "Mulish" ,sans-serif;
}

.meals_btn-container {
    margin: 0 auto;
    text-align: center;
}

.meals_btn-container > * {
     margin: 0;
}

.popular-recipes{
    margin: 5rem 0;
}

/* || news letter */

.newsletter{
    margin: 10rem;
    position: relative;
}

.newsletter_container{
    border-radius: 5px;
    box-shadow: -10px 10px 50px rgba(0,0,0,0.1);
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background-color: #fff;
}

.newsletter_input_container{
    margin: 0 auto;
    display: inline-block;  
}

.newsletter_input{
    margin: 0;
    font-size: 2rem;
    outline: 0;
    color: #8b8b8b;
    font-weight: 500;
    border: 0;
    background-color: #F9FBFB;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 2rem 3rem;
}

.newsletter_input-run{
    margin: 0;
    outline: 0;
    padding: 0;
    border: 0;
    height: 100%;
    font-size: 2rem;
    padding: 2rem 3rem;
    border-top-right-radius: 20px;
    background-color:var(--orange);
    color:#fff;
    cursor: pointer;
    border-bottom-right-radius: 20px;
}

.dotes {
    position: absolute;
    z-index: -1;
}

#dotes-1{
    left: 0%;
    top: -30%;
}

#dotes-2 {
    right: 0%;
    bottom: -30%;
}

/* || footer */

.footer_section {
    padding: 10rem 5rem;
    position: relative;
    overflow: hidden;
}

.plate_footer{
    position: absolute;
    width: 60%;
    right: -30rem;
    bottom: -35rem;
}

.footer-download{
    display: flex;
    justify-content: flex-end;
    margin: 4rem 0;
}
.footer_container{
    width: 40%;
    padding-left: 10rem;
}
.footer-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social_media-Links{
    font-size: 3.5rem;
    text-decoration: none;  
}

.social_media-Links:not(:last-child) {
    margin-right: 1rem;
}

#facebook {
    color: #1877f2;    
}


#instagram {
   background-image: url('../images/instagram.png');
   background-position: center;
   background-size: cover;
   color: transparent;
   width: 3.5rem;
   height: 3.5rem;
}

#linkedin{
    color: #007bb5;
}

#twitter{
    color: #1da1f2;
}


.footer_term{
    font-family: "Mulish" , sans-serif;
    color: #909091;
}

.copyright{
    color: #909091;
    font-family: "Mulish" , sans-serif;
    position: absolute;
    bottom: 4rem;
}


.popup{
    position: fixed;
    left: 0;
    z-index: 99999;
    top: 0;
    width: 100%;
    animation: zoomIn 200ms;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgba(0,0,0,0.1);
}

.close-btn{
    position: fixed;
    right:4rem;
    height: 5rem;
    width: 5rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, .1);
    z-index: 9999999;
    top: 2rem;
    cursor: pointer;
}

.close-btn svg {
    color: #fca400;
    font-size: 3rem;
    transition: all 500ms ease;
}

.close-btn:hover svg,
.close-btn:active svg {
    transform: rotate(180deg);
}

.popup iframe {
    width: 80%;
    border: 10px solid #f9f9f9;
    border-radius: 5px;
    height: 80%;
}

.popular-recipes_gallary{
    margin-top:5rem ;
}

.splide__slide{
    width: 30rem;
    height: 30rem;
    background: rgba(0, 0, 0, .1);
    margin-right: 3rem;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

.splide__slide img{
    height: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.splide__arrow {
    width: 8rem;
    border-radius: 5px;
    background: var(--orange);
    opacity: 1;
}

.splide__arrow svg {
    fill: #fff !important;
}

.splid_info{
    position: absolute;
    bottom: 0;
    padding: 2rem;
}

.splid_info h3 {
    color: #fff;
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.splid_info p {
    color: #dfdfdf;
    font-family: "Mulish", sans-serif;
}

@media only screen and (max-width:1050px){
    /* || navigation */
    .navigation{
        width: 70%;
    }

    .navigation_info{
        width: 100%;
    }
    
    .navigation_link{
        font-size: 2.5rem;
    }
    
    .navigationScroll{
        padding: 2rem 5rem;
    }
    
    .navigationScroll .navigation_links {
        width: 100% !important;
        margin-top: 1.5rem;
    }
    
    /* || header */
    .header-section {
        background-image: 
            linear-gradient( 
                96deg,
                rgba(255,255,255,.9) 0%, 
                rgba(255,255,255,.9) 85%,
                rgba(0,0,0,0) 85% ),
                url(../images/hero-heading.png);
    }
    .hero-container{
        width: 80%;
        left: 5rem;
        bottom: 30rem;
    }

    .hero-sub-heading{
        font-size: 1.7rem;
    }

    .download-container {
        transform: none;
        left: 5rem;
        bottom: 19rem;
    }


    /* || About us  */
    .about_us-image {
        width: 33rem;
        height: 50rem;
    }


    .img-food{
        width: 17rem;
        height: 12rem;
    }
    
    .img-child{
        width: 21rem;
        height: 15rem;
    }

    .img-egg{
        width: 20rem;
        height: 15rem;
    }

    .img-milk{
        width: 17rem;
        height: 18rem;
    }

    .about_us-section{
        grid-template-columns: 50% 50%;
        grid-column-gap: 2rem;
    }
    .about_us-images-col{
        flex:1;
        margin: 0;
    }
    .img-food {
        width: 80%;
        height: 12rem;
    }

    .img-child {
        width: 100%;
        height: 15rem;
    }

    .img-egg {
        width: 80%;
        height: 15rem;
    }

    .img-milk {
        width: 100%;
        height: 18rem;
    }

    /* || our story  */
    .our_story{
        width: 100%;
    }



    .meals_container{
        grid-template-columns: 1fr 1fr;
    }

    .newsletter_container{
        width: 100%;
    }

    .dotes {
        width: 25%;
    }
    
    #dotes-1{
        top: -15%;
        left: -5%;
    }

    #dotes-2 {
        bottom: -15%;
        right: -5%;
    }

    .splide__slide{
        height: 25rem;
    }

    /* || footer */

    .footer_container{
        width: 70%;
    }

    .plate_footer{
        right: -20rem;
        bottom: -21rem;
    }
}

@media only screen and (max-width:550px) {
    .section{
        padding :  5rem;
    }

    .heading-big{
        font-size: 3rem;
    }


    /* || navigation */
    .navigation{
        margin-left: 1.5rem;
        width: 90%;
    }

    .navigation_logo{
        width :10rem
    }

    .navigation_logo-container {
        margin-right: 0.5rem;
    }
    
    .navigation_van{
        margin-right: .5rem;
        width: 2.5rem;
    }

    .navigationScroll .navigation_van {
        /* display: none; */
    }
    .navigation_info{
        display: flex;
        justify-content: space-between;
    }
    
    .navigation_info p{
        font-size: 1.2rem;
        color: rgb(41, 41, 41);
    }

    .navigationScroll{
        padding: 2rem; 
        margin: 0;
    }

    .navigation_link{
        font-size: 1.5rem;
    }

    .main_btn{
        font-size: 2rem;
        padding: 1.5rem 2rem;
        margin-right: 2rem;
    }

    /* || header */
    .hero-container{
        bottom: 20rem;
        left: 3rem;
    }

    .hero-heading{
        font-size: 5.5rem;
    }
    
    .download-container{
        left: 3rem;
        bottom: 7rem;
    }

    /* || about us */
    .about_us-section{
        grid-template-columns: 1fr;
        grid-row-gap: 5rem;
        /* align-content: center; */
        justify-items: center;

    }

    .about_us-image{
        width: 31rem;
        height: 33rem;
    }

    .section_subheading{
        width: 100%;
    }

    .about_us-content{
        text-align: center;
    }

    #baby-image{
        order: 1;
    }

    /* || our story */
    .our_story{
        padding: 2rem;
    }

    .our_story-heading{
        font-size: 3rem;
        width: 100%;
    }

    .our_story-text{
        width: 100%;
    }


    /* || newsletter */

    .newsletter {
        margin: 10rem 2rem;
        margin-bottom:3rem;
    }

    .newsletter_input{
        font-size: 1.3rem;
        padding: 1.2rem;
    }
    
    .newsletter_input-run{
        font-size: 1.3rem;
        padding: 1.2rem;
    }

    /* || meals  */

    .meals_container{
        grid-template-columns:1fr
    }

    /* || footer */

    .footer_section{
        padding-top: 5rem;
    }

    .footer_container{
        padding-left: 0;
        width: 100%;
    }

    .plate_footer{
        right: -10rem;
        bottom: -7rem;
        z-index: -1;
    }
}